

<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <div class="form-group">
      <label>License:</label>
      <input  id="licenseId" class="form-control form-control-lg" [readOnly]="true"
      name="licenseId" value="{{licenseId}}">
  </div>
  <div class="form-group">
    <label>User:</label>
    <input class="form-control form-control-lg"
    name="user" >
</div>
  <div class="input-group" >
      <button type="button" class="btn btn-primary" [disabled]="form.invalid" >
        <i class="bi bi-person-add"></i>Create</button>
        <button class="btn btn-danger" style="margin-right: 20px;" [routerLink]="['/licenseInfo']" >
          <i class="bi bi-x-lg"></i>Cancel</button>

  </div>
</form>

