<div >
  <form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="field">
      <label>Start Date</label>
      <div >
        <p-calendar name="startDate" [(ngModel)]="startDateValue" [showTime]="true"    ></p-calendar>
      </div>
    </div>
    <div class="field">
      <label>Expire Date:</label>
      <div >
        <p-calendar name="expirDate" [(ngModel)]="expirDateValue" [showTime]="true"    ></p-calendar>
      </div>
    </div>
    <div class="field">
      <label>Payment Method:</label>
      <div class="formgroup-inline">
        <div *ngFor="let method of methods" class="field-radiobutton">
          <p-radioButton
            [inputId]="method.key"
            name="category"
            [value]="method"
            [(ngModel)]="selectedMethod"></p-radioButton>
          <label [for]="method.key">{{ method.name }}</label>
        </div>
      </div>
    </div>
    <p> {{form.value| json }}</p>
    <button  type="submit" class="btn btn-primary mr-2">  
            <i class="bi bi-person-add"></i>Create
      </button>
     
     <button 
     class="btn btn-danger mr-2"  style="margin-right: 20px"
        [routerLink]="['/licenseInfo']">
        <i class="bi bi-x-lg"></i>Cancel
      </button>
   
  

  </form>
</div>
